@tailwind base;
@tailwind components;
@tailwind utilities;


.jsons_wrap{
  background-color: #5eabac;
   border: #87f4f6;
   width: 150px;
   padding: 5px;

}
.jsons_wrap p{
  font-size: 10px;
   
}

.key{
  color: blue;
}

.smartphone-container {
  display: flex;
}

.smartphone-item {
  flex: 1; /* 各要素を同じ幅にする */
  /*background-color: yellow;*/
  margin: 15px;
}


iframe{
  border-radius: 6%;
}
.iphone7-wrap {
  width: 175px; 
  height: 812px; 
  background-size: cover;
}
.iphone-svg iframe {
  width: 100%;
  height: 100%;
}



/*モーダルウィンドウ*/

.modal {
    /*display: none;*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


.json-input-field{
    background-color: #030710;
    color: chartreuse;
    width: 100%;
    height:500px;
    padding:50px;
}
.jsons_wrap{
    background-color: #5eabac;
    border: #87f4f6 1px;
}
.jsons_wrap h1{
    color: #f59e0b;
}